<html>
  <head></head>
  <body>
    <h3>Select a Project</h3>

    <div>
      <ul>
        <li>
          <form name="myform" novalidate ng-submit="select.jumpToProject(projectID)">
            <label for="projectID"> Jump directly to project ID </label>
            <input type="text" name="projectID" id="projectID" ng-model="projectID" 
              placeholder="project ID" autofocus>
            &nbsp;
            <button type="submit"> Go </button>
          </form>
        </li>
        
        <li>
          <form name="myform2" novalidate ng-submit="select.jumpToProject(option.projectID)">
            <label> Jump directly to project </label> 
            <select name="projectID" ng-model="option"
              ng-options="item.projectID+'. '+item.name for item in select.masterList().allProjects track by item.projectID"
              ng-change="select.jumpToProject(option.projectID)">
            </select>
            &nbsp;
            <button type="submit(); return false;"> Go </button>
          </form>
        </li>
        
        <li>
          <form action="/projectView" method="post" novalidate>
            <label for="searchText"> Search in project names and descriptions </label>
            <input type="text" name="searchText" id="searchText" ng-model="select.selectState.searchText"
              placeholder="keywords or phrase"><br/>
    
            Join words: &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_or" value="or" ng-model="select.selectState.nameLogic">
            <label for="nameLogic_or">with 'or'</label>, &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_and" value="and" ng-model="select.selectState.nameLogic"> 
            <label for="nameLogic_and"> with 'and'</label>, or &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_phrase" value="phrase" ng-model="select.selectState.nameLogic">
            <label for="nameLogic_phrase"> as a phrase</label>.<br/>
    
            Search scope: &nbsp;&nbsp;
            <label> <input type="radio" value="0" name="finalID" ng-model="select.selectState.finalID"> active projects </label>, &nbsp;&nbsp;
            <label> <input type="radio" value="" name="finalID" ng-model="select.selectState.finalID"> all projects</label>.
          </form>

          <div ng-show="select.selectState.searchText">
            <p>There are {{ filtered.length }} matches:</p>
            <dl ng-repeat="project in filtered = (select.masterList().allProjects | nameSearch:select.selectState.searchText:select.selectState.nameLogic:select.selectState.finalID)"> 
              <dt>{{project.projectID}}. <a href="#" onclick="return false;" ng-click="select.jumpToProject(project.projectID)">{{project.name}}</a>
              </dt>
              <dd read-more content="{{ project.description }}" limit="200" style="width: 800px;"></dd>
            </dl>
          </div>
        </li>
        
        <li>
          <a ui-sref="filter">Build a project selection filter.</a>
        </li>
        
      </ul>
    </div>
  </body>
</html>

