  <dt ng-if="attr.value" ng-bind="attr.label" class="text-capitalize"></dt>
  <dd ng-if="attr.value">
    <span ng-switch on="attr.format">
      <span ng-switch-when="string">
         <span ng-bind="attr.value"></span>
      </span>
      <span ng-switch-when="textArea">
         <span ng-bind="attr.value"></span>
      </span>
      <span ng-switch-when="multipleSelect">
         <span ng-bind="attr.printValue"></span>
      </span>
      <span ng-switch-when="lines">
         <span ng-bind="attr.printValue"></span>
      </span>
      <span ng-switch-when="dateRangeSelect">
         <span ng-bind="attr.value"></span>
      </span>
      <span ng-switch-default>
        <span ng-bind="attr.value"></span>
      </span>
    </span>
  </dd>
