  <dt ng-if="attr.value" ng-bind="project.attributes()[attr.index].label" class="text-capitalize"></dt>
  <dd ng-if="attr.value">
    <span ng-switch on="attr.format">
      <span ng-switch-when="string">
        <span ng-bind="project.attributes()[attr.index].value"></span>
      </span>
      <span ng-switch-when="textArea">
        <span
          ng-bind="project.attributes()[attr.index].value"></span>
      </span>
      <span ng-switch-when="multipleSelect">
        <span ng-if="attr.multiple">
          <span ng-repeat="item in project.attributes()[attr.index].value track by $index">
            <span 
              ng-bind="project.attributes()[attr.index].value[$index][1]">
              </span><span ng-if="!$last">, </span>
          </span>
        </span>
        <span ng-if="!attr.multiple">
          <span ng-bind="project.attributes()[attr.index].value[1]"></span>
        </span>
      </span>
      <span ng-switch-when="dateRangeSelect">
        <span ng-bind="project.attributes()[attr.index].value"></span>
      </span>
    </span>
  </dd>
