<html>
  <head>
    {% if title %}
    <title>{{ title }} - PPT</title>
    {% else %}
    <title>PPT</title>
    {% endif %}
    <script type="text/javascript" src="/js/angular.min.js"></script>
  </head>
  <body>
    <div>Microblog:
        <a href="{{ url_for('index') }}">Home</a>
    </div>
    {% if current_user.is_anonymous() %}
        <a href="{{ url_for('login') }}">Login</a>
    {% else %}
        Logged in as {{ current_user.name }}
        <a href="{{ url_for('logout')}}">Logout</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
