<html>
  <head>
    {% if title %}
    <title>{{ title }} - PPT</title>
    {% else %}
    <title>PPT</title>
    {% endif %}
    <meta name="viewport" content="initial-scale=1.0">
    <style>
      @-ms-viewport{
          width: extend-to-zoom;
          zoom: 1.0;
      } 
    </style>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='angular-readmore-style.css') }}" rel="stylesheet" media="screen">
    <style>     
       button.link {
          display:inline-block;
          position:relative;
          background-color: transparent;
          cursor: pointer;
          border:0;
          padding:0;
          color:#00f;
          text-decoration:underline;
      }
    </style>
    
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='readmore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ng-focus-on.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body class="container">
    <h2>Project Portfolio Tool</h2>

    <div style="float: right;">
      {% if current_user.is_anonymous() %}
          <a href="{{ url_for('login') }}">Login</a>
      {% else %}
          Logged in as {{ current_user.name }}
          <a href="{{ url_for('logout')}}">Logout</a>
      {% endif %}
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="#">Filter Builder</a></li>
      <li role="presentation"><a href="#">Browse</a></li>
      <li role="presentation"><a href="#">Project</a></li>
      <li role="presentation"><a href="#">Previous</a></li>
      <li role="presentation"><a href="#">Next</a></li>
    </ul>    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </body>
</html>
