<html>
  <head>
    {% if title %}
    <title>{{ title }} - PPT</title>
    {% else %}
    <title>PPT</title>
    {% endif %}
    <meta name="viewport" content="initial-scale=1.0">
    <style>
      @-ms-viewport{
          width: extend-to-zoom;
          zoom: 1.0;
      } 
    </style>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>     
       button.link {
          display:inline-block;
          position:relative;
          background-color: transparent;
          cursor: pointer;
          border:0;
          padding:0;
          color:#00f;
          text-decoration:underline;
      }
    </style>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <h2>Project Portfolio Tool</h2>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
    </div>
    {% if current_user.is_anonymous() %}
        <a href="{{ url_for('login') }}">Login</a>
    {% else %}
        Logged in as {{ current_user.name }}
        <a href="{{ url_for('logout')}}">Logout</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </body>
</html>
