<html>
  <head></head>
  <body>
    <div ng-controller="Project as project">
      <h3>Description Attributes</h3>
      <form method="POST" id="edit_form">
        {% raw %}
        {{ form.hidden_tag() }}
        {% endraw %}
        <table>
          {% for attr in attributes %}
            <tr>
              <td style="text-align: right;vertical-align: top;">
                {{ attr.label.capitalize() }}&nbsp;:&nbsp;
              </td>
              <td style="vertical-align: top;">{{ form[attr.name] }}</td>
              <td style="vertical-align: top;">{{ attr.help}}</td>
            </tr>
          {% endfor %}
        </table>
            <p><input type="submit" value="Update Project"></p>
      </form>
    </div>
  </body>
</html>
