<!DOCTYPE html>
<html ng-app="PPT" ng-controller="PPTCtrl as app">
  <head ng-controller="Title as title">
    <title ng-bind="title.pageTitle"> PPT: Loading... </title>
    <meta name="viewport" content="initial-scale=1.0">
    <style>
      @-ms-viewport{
          width: extend-to-zoom;
          zoom: 1.0;
      } 
    </style>

    {% if minified %}
    <link href="/static/min/flask-ppm-tool.min.css" rel="stylesheet" media="screen">
    {% else %}
    <link href="/static/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/angular-readmore-master/css/style.css" rel="stylesheet" media="screen">
    <link href="/static/login/login.css" rel="stylesheet" media="screen">
    {% endif %}
    <style>     
      button.link {
        display:inline-block;
        position:relative;
        background-color: transparent;
        cursor: pointer;
        border:0;
        padding:0;
        color:#00f;
        text-decoration:underline;
      }
      .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
    
  </head>
  <body>
    <div id="page">
      <header ng-controller="Header as header">
        <div class="container nav navbar-default" id="menu">
          <div id="logo" class="text-left;"><h2>Project Portfolio Tool</h2></div>
          {% raw %}
          <ul class="list-inline text-right">
            <li ng-hide="currentUser">
              <a href="#" ng-click="header.login();">Login</a></li>
            <li ng-show="currentUser">Logged in as {{ currentUser.name }}</li>
            <li ng-show="currentUser"><a href="#" ng-click="header.logout();">Logout</a></li>
          </ul>
          {% endraw %}
            <div role="presentation">
                <ul class="nav nav-tabs">
                  <li role="presentation" ng-class="{active:header.isActive('select')}"><a ui-sref="select">Select</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('filter')}"><a ui-sref="filter">Filter Builder</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('browse')}"><a ui-sref="browse">Browse</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('project')}"><a ui-sref="project.detail">Project</a></li>
                  <li role="presentation" ng-class="{active:header.hasPrevious()}"><a href="#" onclick="return false;" ng-click="header.jumpToPreviousProject()">Previous</a></li>
                  <li role="presentation" ng-class="{active:header.hasNext()}"><a href="#" onclick="return false;" ng-click="header.jumpToNextProject()">Next</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('comment')}" 
                    ng-show="currentUser.roles.indexOf('ContentProvider') > -1 || currentUser.roles.indexOf('Curator') > -1">
                    <a ui-sref="comment">Comments</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('curate')}" ng-show="currentUser.roles.indexOf('Curator') > -1"><a ui-sref="curate">Curate</a></li>
                  <li role="presentation" ng-class="{active:header.isActive('manage')}" ng-show="currentUser.roles.indexOf('Manager') > -1"><a ui-sref="manage">Manage</a></li>
                </ul>
            </div>
        </div>
      </header>
      <section id="body">
        <div ui-view></div>
      </section>
 
      <hr/>
 
      <footer>
      </footer>
    </div>

    <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-ui-date/src/date.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-bower-master/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-bower-master/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/vendor/a0-angular-storage/dist/angular-storage.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
    <script type="text/javascript" src="/static/vendor/ng-focus-on/ng-focus-on.min.js"></script>
    <script type="text/javascript" src="/static/vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-readmore-master/js/angular-readmore.js"></script>
    <script type="text/javascript" src="/static/vendor/datejs/build/date-en-US.js"></script>

    {% if minified %}
    <script type="text/javascript" src="/static/min/flask-ppm-tool.min.js"></script>
    <script type="text/javascript" src="/static/login/loginConfig.js"></script>
    {% else %}

    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/app.config.js"></script>
    <script type="text/javascript" src="/static/app.controller.js"></script>
    <script type="text/javascript" src="/static/app.run.js"></script>

    <script type="text/javascript" src="/static/attributes/app.attributes.js"></script>
    <script type="text/javascript" src="/static/attributes/attributesController.js"></script>
    <script type="text/javascript" src="/static/attributes/attributesService.js"></script>
    
    <script type="text/javascript" src="/static/browse/app.browse.js"></script>
    <script type="text/javascript" src="/static/browse/browseConfig.js"></script>
    <script type="text/javascript" src="/static/browse/browseController.js"></script>
    
    <script type="text/javascript" src="/static/comment/app.comment.js"></script>
    <script type="text/javascript" src="/static/comment/commentConfig.js"></script>
    <script type="text/javascript" src="/static/comment/commentController.js"></script>
    
    <script type="text/javascript" src="/static/curate/app.curate.js"></script>
    <script type="text/javascript" src="/static/curate/curateConfig.js"></script>
    <script type="text/javascript" src="/static/curate/curateController.js"></script>

    <script type="text/javascript" src="/static/filter/app.filter.js"></script>
    <script type="text/javascript" src="/static/filter/filterConfig.js"></script>
    <script type="text/javascript" src="/static/filter/filterController.js"></script>

    <script type="text/javascript" src="/static/header/app.header.js"></script>
    <script type="text/javascript" src="/static/header/headerController.js"></script>

    <script type="text/javascript" src="/static/login/app.login.js"></script>
    <script type="text/javascript" src="/static/login/loginApiService.js"></script>
    <script type="text/javascript" src="/static/login/loginConfig.js"></script>
    <script type="text/javascript" src="/static/login/loginController.js"></script>
    <script type="text/javascript" src="/static/login/loginRun.js"></script>
    <script type="text/javascript" src="/static/login/loginService.js"></script>
    <script type="text/javascript" src="/static/login/loginStateService.js"></script>

    <script type="text/javascript" src="/static/loginInjector/app.loginInjectorProvider.js"></script>
    <script type="text/javascript" src="/static/loginInjector/loginInjector.js"></script>

    <script type="text/javascript" src="/static/manage/app.manage.js"></script>
    <script type="text/javascript" src="/static/manage/manageConfig.js"></script>
    <script type="text/javascript" src="/static/manage/manageController.js"></script>
    
    <script type="text/javascript" src="/static/modalConfirm/app.modalConfirm.js"></script>
    <script type="text/javascript" src="/static/modalConfirm/modalConfirmService.js"></script>

    <script type="text/javascript" src="/static/project/app.project.js"></script>
    <script type="text/javascript" src="/static/project/projectConfig.js"></script>
    <script type="text/javascript" src="/static/project/projectController.js"></script>
    <script type="text/javascript" src="/static/project/projectDataService.js"></script>
    <script type="text/javascript" src="/static/project/projectListService.js"></script>
    
    <script type="text/javascript" src="/static/select/app.select.js"></script>
    <script type="text/javascript" src="/static/select/selectConfig.js"></script>
    <script type="text/javascript" src="/static/select/selectController.js"></script>
    <script type="text/javascript" src="/static/select/selectNameSearchFilter.js"></script>
    <script type="text/javascript" src="/static/select/selectStateService.js"></script>

    <script type="text/javascript" src="/static/stateLocation/app.stateLocation.js"></script>
    <script type="text/javascript" src="/static/stateLocation/stateLocationRun.js"></script>
    <script type="text/javascript" src="/static/stateLocation/sessionService.js"></script>
    <script type="text/javascript" src="/static/stateLocation/stateHistoryFactory.js"></script>
    <script type="text/javascript" src="/static/stateLocation/stateLocationService.js"></script>

    <script type="text/javascript" src="/static/title/app.title.js"></script>
    <script type="text/javascript" src="/static/title/titleController.js"></script>
    {% endif %}

  </body>
</html>
