<html>
  <head></head>
  <body>
    <span>
        <h3>Log In</h3>
    </span>
    <form method="POST" id="login_form" name="login_form">
        {{ form.hidden_tag() }}
      <table>
          <tr>
            <td align="right">{{ form.username.label }}&nbsp;:&nbsp;</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td align="right">{{ form.password.label }}&nbsp;:&nbsp;</td>
            <td>{{ form.password }}</td>
          </tr>
          <tr>
            <td align="right">Remember me&nbsp;:&nbsp;</td>
            <td>{{ form.remember_me }}</td>
          </tr>
      </table>
          <p><input type="submit" value="Sign In"></p>
    </form>
  </body>
</html>
