{% macro tablist -%}
  <div class="navbar-collapse collapse" style="clear: both;">
    {% raw %} {{$state.current.name}}
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="active"><a ui-sref="select">Select</a></li>
        <li role="presentation"><a ui-sref="filter">Filter Builder</a></li>
        <li role="presentation"><a ui-sref="browse">Browse</a></li>
        <li role="presentation"><a ui-sref="project">Project</a></li>
        <li role="presentation"><a href="#">Previous</a></li>
        <li role="presentation"><a href="#">Next</a></li>
      </ul>
    {% endraw %}
{%- endmacro %}
