<html>
  <head></head>
  <body>
    <h3>Select a Project</h3>

    <div ng-app="SelectApp" ng-controller="selectController as sel">
      <ul>
        <li>
          <form action="/projectView" method="post" novalidate>
            <label for="projectID"> Jump directly to project ID </label>
            <input type="text" name="projectID" id="projectID" ng-model="projectID" focus-on="focusMe">
            &nbsp;
            <button type="submit"> Go </button>
          </form>
        </li>
        
        <li>
          <form action="/projectView" method="post" novalidate>
            <label> Jump directly to project </label> 
            <select name="projectID" ng-model="projectID"
              ng-options="item.name for item in projects track by item.projectID"
              onchange="submit();">
            </select>
            &nbsp;
            <button type="submit"> Go </button>
          </form>
        </li>
        
        <li>
          <form action="/projectView" method="post" novalidate>
            <label for="searchText"> Search in project names and descriptions </label>
            <input type="text" name="searchText" id="searchText" ng-model="searchText"><br/>
    
            Join words: &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_or" value="or" ng-model="nameLogic">
            <label for="nameLogic_or">with 'or'</label>, &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_and" value="and" ng-model="nameLogic"> 
            <label for="nameLogic_and"> with 'and'</label>, or &nbsp;&nbsp;
            <input type="radio" name="nameLogic" id="nameLogic_phrase" value="phrase" ng-model="nameLogic">
            <label for="nameLogic_phrase"> as a phrase</label>.<br/>
    
            Search scope: &nbsp;&nbsp;
            <label> <input type="radio" value="0" name="finalID" ng-model="finalID"> active projects </label>, &nbsp;&nbsp;
            <label> <input type="radio" value="" name="finalID" ng-model="finalID"> all projects</label>.
          </form>

          <div ng-show="searchText">
            <dl ng-repeat="project in projects | nameSearch:searchText:nameLogic:finalID "> 
          {% raw %}
              <dt>{{project.projectID}}. <a ui-sref="project.detail({projectID: project.projectID})" ng-click="jumptoproject()">{{project.name}}</a>
              </dt>
          {% endraw %}
              <dd read-more ng-model="project.description" words="false" length="200" style="width: 800px;"></dd>
            </dl>
          </div>
        </li>
        
        <li>
          <a ui-sref="filter">Build a project selection filter.</a>
        </li>
        
      </ul>
    </div>
  </body>
</html>

