  <h4 ng-show="project.currentMode() == 'add.comment'">Add a Comment</h4>
  <dl class="dl-horizontal"
    ng-show="project.currentMode() == 'add.comment'">

    <dt>
      <label ng-bind="project.as.getAttribute('comment').label"></label>
    </dt>

    <dd>
      <textarea rows="8" cols="80"
        class="form-control col-lg-4"
        ng-model="project.as.getAttribute('comment').value"
        ng-bind="project.as.getAttribute('comment').value"></textarea>
      <button type="button" ng-click="project.ds.saveProject('comment', [project.as.getAttribute('commentID')])"> Save </button>
      <button type="button" ng-click="project.ds.hideDetails('comment')"> Cancel </button>
    </dd>

  </dl>
  <h4 ng-show="project.currentMode() == 'add.comment'">Previous Comments</h4>

  <h4 ng-show="project.currentMode() == 'view' || project.currentMode().substring(0,12) == 'edit.comment'">Comments</h4>
  
  <dl class="dl-horizontal"
    ng-show="project.currentMode() == 'view' || project.currentMode() == 'add.comment'"
    ng-repeat="comment in project.as.getRawAttributes('comment')">
    <dt>
      <label ng-bind="comment['commentAuthor']"></label><br/>
    </dt>
    <dd>
      <span ng-bind="comment['comment']"></span><br/>
      Entered <span ng-bind="comment['commentAuthored.printValue']"></span>
    </dd>
  </dl>

  <dl class="dl-horizontal"
    ng-show="project.currentMode().substring(0,12) == 'edit.comment'"
    ng-repeat="comment in project.as.getRawAttributes('comment')">

    <dt>
      <label ng-bind="comment['commentAuthor']"></label>
    </dt>

    <dd ng-hide="comment['commentID'] == project.ds.stateParams.commentID">
      <span ng-bind="comment['comment']"></span><br/>
      Entered <span ng-bind="comment['commentAuthored.printValue']"></span>
      <span ng-show="comment['commentEditor']"><br/>Last edited by <span ng-bind="comment['commentEditor']"></span> on <span ng-bind="comment['commentEdited.printValue']"></span></span>
      <button type="button" 
        ng-show="project.currentMode() == 'edit.comment'"
        ng-click="project.ds.showDetails('comment', 
                    [{name: 'commentID', id: comment['commentID']}])"> Edit </button>
    </dd>

    <dd ng-show="comment['commentID'] == project.ds.stateParams.commentID">
      <textarea rows="8" cols="80"
        class="form-control col-lg-4"
        ng-model="project.as.getAttribute('comment').value"
        ng-bind="project.as.getAttribute('comment').value"></textarea>
      Entered <span ng-bind="comment['commentAuthored.printValue']"></span>
      <span ng-show="comment['commentEditor']"><br/>Last edited by <span ng-bind="comment['commentEditor']"></span> on <span ng-bind="comment['commentEdited.printValue']"></span></span><br/>
      <button type="button" ng-click="project.ds.saveProject('comment', [project.as.getAttribute('commentID')])"> Save </button>
      <button type="button" ng-click="project.ds.hideDetails('comment', 
                    [{name: 'commentID', id: comment['commentID']}])"> Cancel </button>
    </dd>
  </dl>

