  <dt>
    <label ng-bind="attr.label" class="text-capitalize"></label>
  </dt>
  <dd>
    <span ng-switch on="attr.format">
      <span ng-switch-when="string">
        <p ng-bind="attr.help"></p>
        <input type="text" size="60"
          class="form-control col-lg-4"
          ng-model="attr.value"
         />
      </span>
      <span ng-switch-when="textArea">
        <p ng-bind="attr.help"></p>
        <textarea rows="8" cols="80"
          class="form-control col-lg-4"
          ng-model="attr.value"
          ng-bind="attr.value"></textarea>
      </span>
      <span ng-switch-when="multipleSelect">
        <table style="width: 100%">
          <tr>
            <td ng-if="attr.multi" style="width: 25%; vertical-align: top;">
              <select multiple size="8" style="float:left"
                class="form-control col-lg-4"
                ng-model="attr.value"
                ng-options="item.desc for item in attr.choices track by item.id"></select>
            </td>
            <td ng-if="!attr.multi" style="width: 25%; vertical-align: top;">
              <select
                class="select form-control col-lg-4" 
                ng-model="attr.value"
                ng-options="item.desc for item in attr.choices track by item.id"></select>
            </td>
            <td style="width: 60%; vertical-align: top;">
              <p ng-bind="attr.help" class="col-lg-4"></p>        
            </td>
          </tr>
        </table>
      </span>
      <span ng-switch-when="lines">
        <table style="width: 100%">
          <tr>
            <td ng-if="attr.multi" style="width: 25%; vertical-align: top;">
              <select multiple size="8" style="float:left"
                class="form-control col-lg-4"
                ng-model="attr.value"
                ng-options="item.desc for item in attr.choices track by item.id"></select>
            </td>
            <td style="width: 60%; vertical-align: top;">
              <p ng-bind="attr.help" class="col-lg-4"></p>        
            </td>
          </tr>
        </table>
      </span>
      <span ng-switch-when="dateRangeSelect">
        <p ng-bind="attr.help"></p>
        <span ng-if="attr.child.computed == 1">
          <span ng-model="attr.child.value"></span>
        </span>
        <span ng-if="attr.computed == 0">
          <select style="float: left;"
            class="form-control col-lg-4"
            ng-model="attr.child.value"
            ng-options="item.desc for item in attr.child.choices track by item.id"></select>
        </span>
        <span ng-if="attr.computed == 1">
          <span ng-bind="attr.value"></span>
        </span>
        <span ng-if="attr.computed == 0">
          <select style="float: left;"
            class="select form-control col-lg-4"
            ng-model="attr.value"
            ng-options="item.desc for item in attr.choices track by item.id"></select>
        </span>
      </span>
      <span ng-switch-when="date">
        <p ng-bind="attr.help"></p>
        <span ng-if="attr.computed == 1">
          <span ng-bind="attr.printValue"></span>
        </span>
        <span ng-if="attr.computed == 0">
          <input
            class="form-control col-lg-2"
            ng-model="attr.value"
            type="text"
           />
        </span>
      </span>
    </span>
  </dd>
