  <h4 ng-show="project.currentMode() == 'view' || project.currentMode() == 'portfolio.edit'" class="col-sm-12">Portfolio Attributes</h4>

  <dl class="dl-horizontal"
    ng-show="project.currentMode() == 'view'"
    ng-repeat="attr in project.as.getProjectAttributes('portfolio')" 
    ng-include src="'static/project/templates/view-field.html'">
  </dl>

  <div ng-show="project.currentMode() == 'portfolio.edit'"
    ng-repeat="attr in project.as.getProjectAttributes('portfolio')" 
    ng-include src="'static/project/templates/form-edit-field.html'">
  </div>

  <div class="col-sm-offset-2 col-sm-10"
    ng-show="project.currentMode() == 'portfolio.edit'">
    <button type="button" ng-click="project.ds.saveProject('portfolio')"> Save </button>
    <span ng-show="project.ds.showEditSuccess()" ng-bind="project.ds.success" class="alert alert-success" role="alert"></span>
  </div>
