<div class="login jumbotron center-block" ng-controller="LoginModalCtrl as LoginModalCtrl">
  <h1>Login</h1>
  <form role="form" ng-submit="LoginModalCtrl.submit(_username, _password)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" ng-model="_username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="_password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="LoginModalCtrl.submit(_username, _password)">Submit</button>
  </form>
  <button ng-click="LoginModalCtrl.cancel()">Cancel</button>
</div>